.main-container {
    display: flex;
    background-color:rgba(244, 242, 242, 0.931);
    width: 360px;
    height: 380px;
    flex-direction: column;
}
.main-container h2 {
    font-family: "Readex Pro";
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin-top:15px;
    margin-left: 20px;
   
}
.cards-container {
    margin-top: -20px;
}

